# Условие 1: Задача 1
## Постройте график
## Назовите график
## Сделайте именование оси x и оси y
## Сделайте выводы

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1.1. Скачать следующие данные: kc-house-data

In [2]:
df = pd.read_csv('kc-house-data.csv')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Добавим новые столбцы
Изменим столбец date с типом object (строка) на столбец sale_date с типом datetime64

In [3]:
df['sale_date'] = df['date'].astype("datetime64[ns]")
df = df.drop('date', axis=1)

Изменим столбец waterfront с типом данных int64 на столбец с булевыми значениями

In [4]:
df['is_waterfront'] = df['waterfront'].astype(bool)
df = df.drop('waterfront', axis=1)
df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_date,is_waterfront
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,3,7,...,0,1955,0,98178,47.5112,-122.257,1340,5650,2014-10-13,False
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,3,7,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,2014-12-09,False
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,3,6,...,0,1933,0,98028,47.7379,-122.233,2720,8062,2015-02-25,False
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,5,7,...,910,1965,0,98136,47.5208,-122.393,1360,5000,2014-12-09,False
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,3,8,...,0,1987,0,98074,47.6168,-122.045,1800,7503,2015-02-18,False

1.2. Изучите стоимости недвижимости

In [19]:
price_mean_by_rooms_floors = df.groupby(['bedrooms','bathrooms','floors'])['price'].mean()
cols = ['bedrooms','bathrooms','floors','price']
cols1= ['lat','long']
df[cols1+cols].corr()
#plt.bar(price_mean_by_rooms_floors,height=price_mean_by_rooms_floors.values,width=price_mean_by_rooms_floors.index)

,lat,long,price,bedrooms,bathrooms,floors,price
lat,1.000000,-0.135512,0.307003,-0.008931,0.024573,0.049614,0.307003
long,-0.135512,1.000000,0.021626,0.129473,0.223042,0.125419,0.021626
price,0.307003,0.021626,1.000000,0.308350,0.525138,0.256794,1.000000
bedrooms,-0.008931,0.129473,0.308350,1.000000,0.515884,0.175429,0.308350
bathrooms,0.024573,0.223042,0.525138,0.515884,1.000000,0.500653,0.525138
floors,0.049614,0.125419,0.256794,0.175429,0.500653,1.000000,0.256794
price,0.307003,0.021626,1.000000,0.308350,0.525138,0.256794,1.000000

1.3. Изучите распределение квадратуры жилой
1.4. Изучите распределение года постройки